<article class="card bg-dark" style="width: 100%; height:100px">
    <div class="card-body text-light"
        <div class="title">
            <a href="{{post_url}}" target="_blank">{{title}}</a>
            <span>({{post_url}})</span>
        </div>
        <div class="text-light">
            by {{user.username}} on
            {{created_at}} |
            <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
        </div>
    </div>
</article>