<article class="card bg-info" style="width: 100rem;">
    <div class="card-body"
        <div class="title">
            <a href="{{post_url}}" target="_blank">{{title}}</a>
            <span>({{post_url}})</span>
        </div>
        <div class="meta">
            by {{user.username}} on
            {{created_at}} |
            <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
        </div>
    </div>
</article>